*{
    margin: 0;
    padding: 0;
}


#navMid{
    border: 2px solid green;
    color: red;
}


#navFirst{
    border: 2px solid green;
    color: red;
}
h4{
    color: green;
    background-color: aqua;
}